<div class="overlay"></div>
<div style='position:absolute'>
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=346 height=85 src="http://music.163.com/outchain/player?type=2&id=<%= theme.musicId %>&auto=<%= theme.auto %>&height=66"></iframe>
</div>
<div class="intrude-less">
    <header id="header" class="inner">
        <a href="<%= config.root %>" class="profilepic">
            <img src="<%- theme.root_url %><%=theme.avatar%>" class="animated zoomIn">
        </a>
        <hgroup>
          <h1 class="header-author"><a href="<%= config.root %>"><%=theme.author%></a></h1>
        </hgroup>

        <% if (theme.subtitle){ %>
	<hr>
        <i class="header-subtitle fa fa-leaf">	<%=theme.subtitle%></i>
	<% if (theme.search.on){ %>
            <form id="search-form">
            <input type="text" id="local-search-input" name="q" placeholder="点我搜索呀 ..." class="search form-control" autocomplete="off" autocorrect="off" searchonload="<%= theme.search.onload %>" />
            <i class="fa fa-times" onclick="resetSearch()"></i>
            </form>
            <div id="local-search-result"></div>
            <p class='no-result'>No results found <i class='fa fa-spinner fa-pulse'></i></p>
        <%}%>
	<hr/>
        <%}%>

        <%if(theme.tagcloud){%>
            <div id="switch-btn" class="switch-btn">
                <div class="icon">
                    <div class="icon-ctn">
                        <div class="icon-wrap icon-house" data-idx="0">
                            <div class="fa fa-fire fa-2x"></div>
                            <!-- <div class="birdhouse_holes"></div> -->
                        </div>
                        <div class="icon-wrap icon-ribbon hide" data-idx="1">
                            <div class="ribbon"></div>
                        </div>
                        <%if(theme.friends && theme.friends.length != 0){%>
                        <div class="icon-wrap icon-link hide" data-idx="2">
                            <div class="loopback_l"></div>
                            <div class="loopback_r"></div>
                        </div>
                        <%}%>
                        <%if(theme.aboutme){%>
                        <div class="icon-wrap icon-me hide" data-idx="3">
                            <div class="user"></div>
                            <div class="shoulder"></div>
                        </div>
                        <%}%>
                    </div>
                </div>
	     </div>
		<ul class="tips-inner">
                    <li class="fa fa-home"></li>
                    <li class="fa fa-tags"></li>
                    <%if(theme.friends && theme.friends.length != 0){%>
                    <li class="fa fa-link"></li>
                    <%}%>
                    <%if(theme.aboutme){%>
                    <li class="fa fa-user"></li>
                    <%}%>
                </ul>
        <%}%>
	<br/>
        <div id="switch-area" class="switch-area">
            <div class="switch-wrap">
                <section class="switch-part switch-part1">
                    <nav class="header-menu">
                        <ul>
                        <% for (var i in theme.menu){ %>
                            <li><a href="<%- theme.root_url %><%- url_for(theme.menu[i]) %>"><%= i %></a></li>
                        <%}%>
                        </ul>
                    </nav>
                    <nav class="header-nav">
                        <ul class="social">
                            <% for (var i in theme.subnav){ %>
                                <a class="fa <%= i %>" target="_blank" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>"></a>
                            <%}%>
                        </ul>
                    </nav>
                </section>

                <%if(theme.tagcloud){%>
                <section class="switch-part switch-part2">
                    <div class="widget tagcloud" id="js-tagcloud">
                        <%- list_tags({show_count: false}) %>
                    </div>
                </section>
                <%}%>

                <%if(theme.friends && theme.friends.length != 0){%>
                <section class="switch-part switch-part3">
                    <div id="js-friends">
                    <% for (var i in theme.friends){ %>
                   <a target="_blank" class="main-nav-link switch-friends-link" href="<%- url_for(theme.friends[i]) %>"><%= i %></a>
                    <% } %>
                    </div>
                </section>
                <%}%>

                <%if(theme.aboutme){%>
                <%if(!theme.friends){%>
                <section class="switch-part switch-part3">
                <%}else{%>
                <section class="switch-part switch-part4">
                <%}%>
                    <div id="js-aboutme"><%=theme.aboutme%></div>
                </section>
                <%}%>
            </div>
		<div style="margin-top:110%">
                    <a class="fa fa-bug" href="http://chen-shang.github.io"></a>
                    <a class="fa fa-coffee" href="#"></a>
                    <a class="fa fa-cloud" href="http://yun.baidu.com/"></a>
                    <a class="fa fa-apple" href="#"></a>
                    <a class="fa fa-android" href="#"></a>
                    <a class="fa fa-chrome" href="#"></a>
                    <a class="fa fa-qq" href="#"></a>
                    <a class="fa fa-stack-overflow" href="http://stackoverflow.com/"></a>
                    <a class="fa fa-wordpress" href="https://cn.wordpress.org/"></a>
                    <a class="fa fa-windows" href="https://insider.windows.com/"></a>
                    <a class="fa fa-github" href="https://github.com/chen-shang"></a>
		   <!-- <i class="fa fa-circle-o-notch fa-spin"></i>
	 	    <i class="fa fa-refresh fa-spin"></i>
                    <i class="fa fa-cog fa-spin"></i>
                    <i class="fa fa-spinner fa-pulse"></i>
		    <i class="fa fa-spinner fa-spin"></i>
		     -->
    		    <hr/>
    		    <img src="http://7xsy6v.com2.z0.glb.clouddn.com/195EDE481E2BCC9A1004EB5AB6CA82BE_0.jpg"  style="width:100px" alt="二维码" />
		    <hr/>
		</div>
        </div>
    </header>
</div>
